@charset "UTF-8";
/*
Theme Name: Grupo San Carlos
Theme URI: 
Author: Christian Quispe Mayta
Author URI: 
Description: Theme para sitio web Grupo San Carlos
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: elearning, mobile first, responsive, courses
Text Domain: gruposancarlos
*/
/**
  EDgrid es una librería CSS para construir layouts con Responsive Web Design
  Importe este archivo en su proyecto para empezar a usarlo
**/
*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: sans-serif; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.ed-container, .container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.ed-item, .social-menu-container, .top-menu-container, .logo-container, .main-menu-container, .main, .side-bar, .footer-container {
  margin: 0;
  padding-left: 0.9375em;
  padding-right: 0.9375em; }

.ed-item {
  width: 100%; }
  .ed-item.ed-container {
    padding-left: 0;
    padding-right: 0; }

/*
| Mixin para crear cuadriculas
|
| $selector: nombre del selector CSS de cada item de la cuadricula
|
| $gutter: separación entre cada item de la cuadricula (opcional)
|
*/
body {
  background: #f7fffd;
  font-family: 'Open Sans', sans-serif;
  color: #343332;
  position: relative;
  z-index: -100;
  height: 100vh; }
  body:before {
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -90;
    opacity: 0.1;
    background-image: url("../img/bg-body.svg");
    background-repeat: repeat;
    background-position: center;
    background-size: 1024px auto; }

h1, h2, h3, h4 {
  color: #343332; }

.top-bar {
  height: 40px;
  background-image: linear-gradient(to right, rgba(52, 51, 50, 0.3) 33.33333% , rgba(255, 255, 255, 0) 0%);
  background-position: bottom left;
  background-size: 6px 2px;
  background-repeat: repeat-x;
  align-items: center; }

.social-menu-container {
  width: 66.66667%; }
  @media screen and (min-width: 640px) {
    .social-menu-container {
      width: 25%; } }

.social-menu {
  width: 100%; }
  .social-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; }
    .social-menu ul li {
      padding-right: 9px; }
      .social-menu ul li img {
        width: 20px; }

.top-menu-container {
  width: 33.33333%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end; }
  @media screen and (min-width: 640px) {
    .top-menu-container {
      width: 75%; } }

@media screen and (max-width: 639px) {
  .top-menu {
    display: none;
    top: 0;
    left: 100%;
    background: rgba(140, 206, 23, 0.95);
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 200; } }

.top-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end; }
  @media screen and (max-width: 639px) {
    .top-menu ul {
      flex-direction: column;
      width: 100%; } }
  .top-menu ul li {
    padding-left: 21px; }
    @media screen and (max-width: 639px) {
      .top-menu ul li {
        width: 40%;
        margin: 0 auto;
        padding: 15px 0;
        text-align: center;
        border-bottom: 1px solid rgba(247, 255, 253, 0.5); }
        .top-menu ul li:last-child {
          border: none; } }
    .top-menu ul li a {
      font-size: 14px;
      text-transform: uppercase;
      color: #343332;
      font-weight: 600; }
      @media screen and (max-width: 639px) {
        .top-menu ul li a {
          font-family: 'Montserrat', sans-serif;
          font-size: 14px;
          color: #f7fffd; } }
      @media screen and (max-width: 639px) {
        .top-menu ul li a:hover {
          text-decoration: none; } }

.active {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  left: 0; }

.menu-responsive-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end; }
  @media screen and (min-width: 640px) {
    .menu-responsive-button {
      display: none; } }
  .menu-responsive-button img {
    height: 20px; }
    .menu-responsive-button img:hover {
      cursor: pointer; }

.close-responsive-button {
  display: none; }
  @media screen and (max-width: 639px) {
    .close-responsive-button {
      position: fixed;
      z-index: 200; } }
  .close-responsive-button img {
    height: 20px;
    display: block; }
    .close-responsive-button img:hover {
      cursor: pointer; }

.active-button {
  display: block;
  right: 15px;
  top: 10px; }

.unactive-button {
  display: none; }

.logo-container {
  width: 100%;
  margin: 0px auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media screen and (min-width: 640px) {
    .logo-container {
      width: 25%; } }
  @media screen and (max-width: 639px) {
    .logo-container {
      height: 90px; } }
  .logo-container img {
    width: 240px; }
    @media screen and (max-width: 639px) {
      .logo-container img {
        width: 190px; } }

.main-menu-container {
  width: 100%; }
  @media screen and (min-width: 640px) {
    .main-menu-container {
      width: 75%; } }

.main-menu {
  width: 100%; }
  .main-menu ul {
    height: 120px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center; }
    @media screen and (min-width: 0) and (max-width: 639px) {
      .main-menu ul {
        height: 50px; } }
    @media screen and (min-width: 640px) and (max-width: 1023px) {
      .main-menu ul {
        height: 90px; } }
    .main-menu ul li {
      flex-grow: 1;
      text-align: center; }
      .main-menu ul li a {
        font-size: 14px;
        text-transform: uppercase;
        color: #343332;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600; }
        .main-menu ul li a:hover {
          text-decoration: none; }
        @media screen and (min-width: 640px) {
          .main-menu ul li a {
            font-size: 18px; } }
        @media screen and (min-width: 1024px) {
          .main-menu ul li a {
            font-size: 22px; } }

.body-page {
  margin-top: 15px;
  margin-bottom: 15px; }

.main {
  width: 100%; }
  .main-content {
    padding: 15px;
    background: white;
    border: 1px solid rgba(52, 51, 50, 0.1);
    border-radius: 5px; }

.side-bar {
  width: 100%; }
  @media screen and (min-width: 640px) {
    .side-bar {
      width: 25%; } }
  .side-bar-content {
    padding: 15px;
    background: white;
    border: 1px solid rgba(52, 51, 50, 0.1);
    border-radius: 5px; }

.page-title-withimg {
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
  position: relative; }
  .page-title-withimg-content {
    text-transform: uppercase;
    top: 50%;
    left: 10%;
    width: 80%;
    position: absolute;
    transform: translateY(-50%);
    z-index: 20;
    font-size: 1.2em; }
    .page-title-withimg-content h1 {
      text-align: center;
      color: #fff; }
  .page-title-withimg img {
    height: 100%;
    object-fit: cover; }
  .page-title-withimg::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #152400;
    opacity: .5;
    z-index: 10; }

.footer-container {
  width: 100%; }
